<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>book info</p>
<span><a th:href="${'/books'}">back to books list</a></span>
<br>
<p>book</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AUTHOR</th>
        <th>PUBLISH YEAR</th>
        <th>AVAILABLE QUANTITY</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a th:text="${book.id}">id</a></td>
        <td><a th:text="${book.name}">name</a></td>
        <td><a th:text="${book.author}">author</a></td>
        <td><a th:text="${book.publishYear}">publish year</a></td>
        <td><a th:text="${book.quantityAvailable}">available quantity</a></td>
    </tr>
    </tbody>
</table>
<br>
<p>users who have this book:</p>
<div th:if="${bookUsers.size() == 0}">
    <span>no user has this book</span>
</div>
<div th:if="${bookUsers.size() > 0}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>BIRTH YEAR</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="bookUser : ${bookUsers}">
            <td><a th:text="${bookUser.id}">id</a></td>
            <td><a th:text="${bookUser.name}">name</a></td>
            <td><a th:text="${bookUser.birthYear}">birthYear</a></td>
            <td>
                <form th:action="@{'/books/' + ${book.id} + '/return'}" method="post" th:object="${user}">
                    <input type="hidden" th:value="${bookUser.id}" th:name="id" th:id="id">
                    <input type="submit" value="RETURN"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<p>GIVE BOOK TO USER:</p>
<div th:if="${usersWithoutBook.size() == 0}">
    <span>all users have this book</span>
</div>
<div th:if="${usersWithoutBook.size() > 0}">
    <form th:action="@{'/books/' + ${book.id} + '/give'}" method="post" th:object="${user}">
        <select th:field="*{id}">
            <option disabled value="">select user...</option>
            <option th:each="user : ${usersWithoutBook}" th:value="${user.id}" th:text="${user.name}">aboba</option>
        </select>
        <input type="hidden"/>
        <button type="submit">Give book to this user</button>
    </form>
</div>
<br>
<br>
<button type="button">
    <a th:href="@{'/books/' + ${book.id} + '/edit'}">edit book</a>
</button>
<br>
<br>
<button type="button">
    <a th:href="@{'/books/' + ${book.id} + '/delete'}">delete book</a>
</button>
</body>
</html>