<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>ADD NEW BOOK</p>
<form action="/books/create" th:action="@{/books/create}" th:object="${book}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}" placeholder="Amongus"><br>
    <label for="publishYear">Publish year:</label><br>
    <input type="number" id="publishYear" th:field="*{publishYear}" placeholder="32767"><br>
    <label for="author">Author:</label><br>
    <input type="text" id="author" th:field="*{author}" placeholder="Aboba"><br>
    <label for="quantityAvailable">Available quantity:</label><br>
    <input type="number" id="quantityAvailable" th:field="*{quantityAvailable}" placeholder="3"><br>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>