<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>ADD NEW USER</p>
<span><a th:href="${'/users'}">back to users list</a></span>
<form action="/users/create" th:action="@{/users/create}" th:object="${user}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}" placeholder="John Brown"><br>
    <label for="year">Birth year:</label><br>
    <input type="number" id="year" name="year" th:field="*{birthYear}" placeholder="1991"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>