<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>users</p>
<span><a th:href="${'/'}">back to main page</a></span>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>BIRTH YEAR</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><a th:text="${user.id}" href="/users/0" th:href="@{/users/{id}(id=${user.id})}">id</a></td>
        <td><a th:text="${user.name}" href="/users/0" th:href="@{/users/{id}(id=${user.id})}">name</a></td>
        <td><a th:text="${user.birthYear}" href="/users/0" th:href="@{/users/{id}(id=${user.id})}">birthYear</a></td>
    </tr>
    </tbody>
</table>
<br>
<p><a href="/users/new">ADD NEW USER</a></p>
</body>
</html>